<!DOCTYPE html>
<html>
  <head>
    
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />


  </head>
  <body>
   <h1>Map t!</h1>
   <h2>xerwgw<h2>
   <div id='map' style='width: 400px; height: 300px;'></div>
   <div id='map' style='width: 400px; height: 300px;'></div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibmV1cm90IiwiYSI6ImNsbXpleG5qdjBtdGEyam51aDQ1eXkxcWMifQ.LqEqkPXq98hmCaBG4zZw9Q';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11'
  });
</script>


  </body>
</html>